#root {
  width: 100vw;
  height: 100%;
  text-align: center;
  display: flex;
  position: relative;
}

.info-display > *{
  margin: 25px auto;
}

.info-display {
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;
    width: 43vw;
    height: auto;
    background-color: rgb(73, 75, 78);
    box-shadow: 10px 10px 10px black;
    padding: 25px 0 10px 0;
    left: 23vw;
    top: 7vh;
}

div.attributes button{
  background-color: rgb(134, 122, 12);
  height: 45px;
  width: auto;
  
}

div.attributes button{
  margin: 10px;
}

div.attributes button:hover{
  color: black;
}

img {
  max-width: 40%;
  max-height: 20%;
  margin-top: 20px;
}

.ban-list{
    display: inline-block;
    position: fixed;
    left: 85vw;
    width: 15vw;
    min-height: 100vh; max-height: 150vh;
    background-color: rgb(98, 100, 104);
    place-items: center;
}



button {
  width: 25%;
  height: 75px;
  text-wrap: balance;
}

button:hover{
  color: lightgreen;
}
